{% extends "base.html" %}

{% block title %}О проекте - Library{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1>О проекте</h1>
        <p>Добро пожаловать в нашу библиотеку!</p>
        <p>Этот проект создан в рамках лабораторной работы по FastAPI и Jinja2.</p>
        <p>Основные возможности:</p>
        <ul>
            <li>Просмотр каталога книг</li>
            <li>Поиск по автору и названию</li>
            <li>Бронирование книг онлайн</li>
        </ul>
    </div>
{% endblock %}